/.vscode
/ArrayAssignment.class
/ArrayCC.class
/Arrays - Solution (1).pdf
/BasicSorting.class
/BasicSortingAssignment.class
/condition.class
/conditionAssignment.class
/javaBasic.class
/largest.class
/LoopsAssignment.class
/matrices.class
/pyramid.class
/rainwater.class
/variableassignment.class

*.class